# Copyright (c) 2024 Centro de Inovacao EDGE.
# SPDX-License-Identifier: Apache-2.0

menu "Oresat MCXN947 Solar Card"

config BLINK
	bool "Blink an LED"
	default y
	help
	  Enable the thread which blinks an LED.

config I2C_SENSORS
	bool "Enable monitoring I2C sensors"
	default y
	help
	  Enable reading from the ina226

config DAC_LT1618
	bool "Enable control of LT1618 sensor iADJ."
	default y
	help
	  Enable adjustable current control.

config SOLAR
	bool "Enable Solar Power Point Tracking"
	default y
	help
	  Enable the Maximum Power Point Tracking Algorithm.

if SOLAR

	config CHARACTERIZATION_SWEEP
		bool "Enable Solar Power Characterization Sweep"
		default n
		help
		  Interactively determine tracking constants in the lab.

endif

config CAN_INTF
	bool "Enable sending CAN packets."
	default y
	select CAN
	select CANOPENNODE
	select USE_STM32_HAL_FLASH if SOC_STM32F091XC
	select USE_STM32_HAL_FLASH_EX if SOC_STM32F091XC
	select USE_STM32_HAL_CAN if SOC_STM32F091XC
	help
	  Enable CAN interface and send data from CO_OD.

	if CAN_INTF && !SOC_STM32F091XC

		config MCUBOOT_ALLOWED
			bool "MCUboot allowed."
			default y
			select BOOTLOADER_MCUBOOT
			select MCUBOOT_GENERATE_UNSIGNED_IMAGE
			select FLASH
			select FLASH_MAP
			select STREAM_FLASH
			select IMG_MANAGER
			select MCUBOOT_GENERATE_CONFIRMED_IMAGE
			help
			  Define helper symbol CONFIG_MCUBOOT_ALLOWED for all supported
			  architectures that have room for the required partitions in flash
			  and have those partitions defined in the device tree. This
			  eliminates the need for the user to either change prj.conf to
			  enable MCUBOOT or provide an EXTRA_CONF_FILE option to west that
			  names an overlay file.

	endif


endmenu

source "Kconfig.zephyr"
